* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 0 !important;
}

nav {
	margin-bottom: 0 !important;
}

#search-area {
	display: inline-block;
	width: 280px;
	background-color: #f8f8f8;
}

#content {
	display: inline-block;
	width: calc(100vw - 280px);
}

#map {
	height: calc(100vh - 55px);
}

#locations {
	height: calc(100vh - 90px);
	margin-bottom: 0 !important;
	overflow: scroll;
}

#app-name {
	height: 33px;
	text-align: center;
	padding-top: 6px;
	border-radius: 0;
}

.navbar {
	border-radius: 0;
	align-content: center;
	justify-content: space-between;
}

.item-container {
	display: flex;
}

.item-container>img {
	height: 80px;
	width: 80px;
}

.name-container {
	margin-left: 8px;
}

.item-container p {
	font-weight: bold;
}

.item-container span {
	font-size: 11px;
}

.marker-detail p {
	max-width: 350px;
}

.marker-detail span {
	font-size: 10px;
	font-weight: 700;
}

#alert-message {
	position: fixed;
	z-index: 999;
	width: 100%;
}

@media (max-width: 768px) {
	#map {
		width: 100vw;
	}
	#search-area {
		display: none;
		z-index: 999;
	}
}

/* Got this code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50% !important;
  border-top: 6px solid #3498db;
  width: 48px;
  height: 48px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}